.creativity-test.section
  ._wrap.wrap
    ._icons
      ._play
        +icon('play')
        ._play-text Слушать 
      ._icons-list
    ._question-list
      ._question-list-item
        ._text
          ._num 1.
          ._question  У тебя получилась разноцветная картинка?
        ._answer-list
          label
            input(type="checkbox")._checkbox
            ._label ДА
          label
            input(type="checkbox")._checkbox
            ._label НЕТ
      ._question-list-item
        ._text
          ._num 2.
          ._question Цветок, который ты вообразил, был искусственный?                               (Например, бумажный или пластмассовый)
        ._answer-list
          label
            input(type="checkbox")._checkbox
            ._label ДА
          label
            input(type="checkbox")._checkbox
            ._label НЕТ
      ._question-list-item
        ._text
          ._num 3.
          ._question Он свободно рос на природе, где ему ничего не мешало?
        ._answer-list
          label
            input(type="checkbox")._checkbox
            ._label ДА
          label
            input(type="checkbox")._checkbox
            ._label НЕТ
      ._question-list-item
        ._text
          ._num 4.
          ._question  Ты почувствовал запах цветка?
        ._answer-list
          label
            input(type="checkbox")._checkbox
            ._label ДА
          label
            input(type="checkbox")._checkbox
            ._label НЕТ
      ._question-list-item
        ._text
          ._num 5.
          ._question  У тебя получилось представить себя цветком?
        ._answer-list
          label
            input(type="checkbox")._checkbox
            ._label ДА
          label
            input(type="checkbox")._checkbox
            ._label НЕТ
      ._btn.swiper-btn-next понятно
    img(src="img/creativity-test-girl.png", alt="alt")._img
          
        