.creativity-test.section
  ._wrap.wrap
    ._icons
      ._play
        +icon('play')
        ._play-text Слушать 
      ._icons-list
    ._question-list
      ._question-list-item.-one
        ._text
          ._num 1.
          ._question  У тебя получилась разноцветная картинка?
          audio(class="testPlay" src="audio/testPlay.mp3" type="audio/mpeg")
        ._answer-list
          label
            input(type="checkbox" data-TE="1" data-BK="1")._checkbox
            ._label ДА
          label
            input(type="checkbox" data-TE="0" data-BK="0")._checkbox
            ._label НЕТ
      ._question-list-item.-two
        ._text
          ._num 2.
          ._question Цветок, который ты вообразил, был искусственный? (Например, бумажный или пластмассовый)
        ._answer-list
          label
            input(type="checkbox" data-TE="1")._checkbox
            ._label ДА
          label
            input(type="checkbox" data-TE="0")._checkbox
            ._label НЕТ
      ._question-list-item.-three
        ._text
          ._num 3.
          ._question Он свободно рос на природе, где ему ничего не мешало?
        ._answer-list
          label
            input(type="checkbox" data-TE="1")._checkbox
            ._label ДА
          label
            input(type="checkbox" data-TE="0")._checkbox
            ._label НЕТ
      ._question-list-item.-four
        ._text
          ._num 4.
          ._question  Ты почувствовал запах цветка?
        ._answer-list
          label
            input(type="checkbox" data-TE="1" data-AC="1")._checkbox
            ._label ДА
          label
            input(type="checkbox" data-TE="0" data-AC="0")._checkbox
            ._label НЕТ
      ._question-list-item.-five
        ._text
          ._num 5.
          ._question  У тебя получилось представить себя цветком?
        ._answer-list
          label
            input(type="checkbox" data-TE="1" data-AC="1")._checkbox
            ._label ДА
          label
            input(type="checkbox" data-TE="0" data-AC="0")._checkbox
            ._label НЕТ
      ._btn.swiper-btn-next далее 
    img(src="img/creativity-test-girl.png", alt="alt")._img
          
        