.ability-graph {
  height: 100vh;
  align-items: center;
  justify-content: center;

  @media(max-width: 992px) {
    height: 100%;
  }

  &__wrap {
    max-width: 980px;
    width: 100%;
    background: #fff url(img/ear-music-bg.png)no-repeat center/cover;
    padding: 80px 170px 40px 50px;

    @media(max-width: 992px) {
      padding: 60px;
    }

    @media(max-width: 576px) {
      padding: 60px 10px;
    }
  }

  &__title {
    font-family: "FuturaFuturisC";
    font-size: 23px;
    color: #454545;

    @media(max-width: 576px) {
      width: 203px;
    }
  }

  &__list {
    margin: 65px 0 0 0;
    max-width: 750px;
    width: 100%;

    @media(max-width: 992px) {
      margin: 45px 0 0 0;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:first-child) {
      margin: 10px 0 0 0;

      @media(max-width: 992px) {
        margin: 30px 0 0 0;
      }
    }
  }

  &__text {
    font-family: "AG Futura Bold";
    font-size: 13px;
    color: #454545;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    width: 100%;
  }

  &__list-box-item {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: #c9c9c9;

    @media(max-width: 768px) {
      width: 40px;
      height: 20px;
    }

    @media(max-width: 576px) {
      width: 27px;
      height: 15px;
    }

    &_active-red {
      background-color: #fc3e21;
    }

    &_active-light-green {
      background-color: #ceff00;
    }

    &_active-blue {
      background-color: #006bff;
    }

    &_active-yellow {
      background-color: #ffd600;
    }

    &_active-dark-red {
      background-color: #8c0000;
    }
  }

  &__info {
    display: none;
    opacity: 0;
    position: absolute;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 2px solid #ffd600;
    background-color: #ffffff;
    text-align: center;
    padding: 14px 21px;
    color: #454545;
    font-family: "Futura PT - Book";
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.32px;
    top: 35px;
    z-index: 4;
    transition: $t-time;
  }

  &__list-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media(max-width: 992px) {
      margin: 5px 0 0 0;
    }

    &:hover {
      +.ability-graph__info {
        display: block;
        opacity: 1;
      }
    }
  }

  &__btn-box {
    margin: 195px auto 0 auto;
    display: flex;
    align-items: center;

    @media(max-width: 768px) {
      flex-direction: column;
      margin: 250px auto 0 auto;
    }

    @media(max-width: 576px) {
      flex-direction: column;
      margin: 360px auto 0 auto;
    }
  }

  &__btn {
    width: 250px;
    height: 35px;
    background-color: #ee2989;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: "AG Futura Bold";
    font-size: 17px;
    text-transform: uppercase;


    &:first-child {
      margin: 0 20px 0 0;

      @media(max-width: 768px) {
        margin: 0;
      }
    }

    &:last-child {
      @media(max-width: 768px) {
        margin: 10px 0 0 0;
      }
    }

    &:hover {
      cursor: pointer;
      background: darken(#ee2989, 10%);
    }
  }
}