.ability-graph.section
  ._wrap.wrap
    ._title ГРАФИК СПОСОБНОСТЕЙ РЕБЁНКА
    ._list
      ._list-item
        ._text Творческая энергетика
        ._box
          ._list-box.-TZ 
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
          ._info Важным аспектом общей креативности является творческий энергетический потенциал, проявляющийся в  способности увлекаться какой-то творческий активностью. При нехватке этого качества у ребёнка просто не смогут сформироваться и «закрепиться» новые нейронные пути, отвечающие за творческие умения и навыки. Он может многим интересоваться, но быстро бросать начатое дело. Кстати, творческая энергетика важна в любой деятельности «немеханического» типа, будь то работа ученого или инженера, журналиста или врача, музыканта или актёра.
      ._list-item
        ._text Актерские способности
        ._box
          ._list-box._AC 
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
          ._info Основа актёрских способностей – это дар перевоплощения, способность убедительно для окружающих воспроизводить чувства и поведение других людей. В её основе лежит высокая эмоциональная чувствительность и способность к сопереживанию, а также умение контролировать собственные эмоции и сотрудничать с другими людьми. Эти навыки у детей тесно связаны с эффективной социализацией в человеческом обществе – то есть, во многом предопределяют их будущую профессиональную и личную успешность, независимо от того, станут они актёрами или нет.
      ._list-item
        ._text Визуальная креативность
        ._box
          ._list-box.-BK 
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
          ._info Это одна из важнейших составляющих общего творческого потенциала – способность посмотреть на мир «свежим» взглядом и увидеть в нём то, что не могут другие. Пожалуй, лучше, чем Леонардо да Винчи, тут не скажешь: «Некоторые видят, когда им показывают, кое-кто не видит вообще». Эта уникальность видения лежит в основе почти всех творческих профессий – от художника и актёра до дизайнера и архитектора. 
      ._list-item
        ._text Музыкальные способности
        ._box
          ._list-box.-MC 
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
          ._info В основе этих способностей лежат музыкальный слух и чувство ритма. Без них не только нельзя стать хорошим музыкантом, певцом или танцором, но и сложно будет научиться убедительно, с правильными интонациями, разговаривать с людьми, понимать их состояние по особенностям голоса и понимать универсальный язык человеческого общения – музыку. Иногда эти качества даже выделяют в особый вид интеллекта – музыкальный, или аудиальный.
      ._list-item
        ._text Творческая гибкость
        ._box
          ._list-box.-TG 
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item 
            ._list-box-item
            ._list-box-item
            ._list-box-item
            ._list-box-item
          ._info Творческая гибкость – это способность не останавливаться на одном найденном решении, а искать новые интересные пути и способы достижения цели. Это качество, важное не только в творчестве, как таковом – оно помогает нам не утыкаться в стену нашей модели мира, а находить в ней двери в самых, на первый взгляд, неожиданных местах. Оно необходимо не только для представителей всех творческих профессий, но и для любого профессионала, работа которого отличается от рабочего автомобильного конвейера.
    ._btn-box
      ._btn купить подписку
      ._btn.swiper-btn-next  На главную 
