@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AG Futura Bold';
  src: url('../fonts/AGFuturaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaFuturisC';
  src: url('../fonts/FuturaFuturisC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}