.conclusion.section
  ._wrap.wrap
    ._text На данный момент общий креативный потенциал ребёнка оценивается на уровне несколько ниже средних возрастных значений. Посмотрите, какие именно качества развиты в наибольшей степени. Помните, что этот тест носит предварительный характер. Наши педагоги и психологи могут провести более точную и детальную оценку различных аспектов творческого потенциала Вашего ребёнка и помочь развить его. Для этого мы рекомендуем выбрать удобную подписку на нашу платформу, смотреть видео и зарабатывать лайки. Персональную консультацию психолога по скайпу можно получить, заработав100 лайков. Удачи!
    ._num 1-2
    img(src="img/conclusion-arrow.png", alt="alt")._arrow
    img(src="img/arrow-small.png", alt="alt")._arrow_small
    ._btn.swiper-btn-next  Смотреть график способностей