.underst-emotions.section
  ._wrap.wrap
    ._title.title ПОНИМАНИЕ ЭМОЦИЙ
    ._list
      ._list-item
        ._item-title.item-title ИНСТРУКЦИЯ ДЛЯ РОДИТЕЛЯ
        ._text.text В задании оценивается способность ребёнка «видеть» эмоции других людей, глядя на фотографии детских глаз. Надо определить, какую именно эмоцию испытывает этот человек: злость, страх, грусть или радость
      ._list-item
        ._item-title.item-title ИНСТРУКЦИЯ ДЛЯ РЕБЁНКА
        ._text.text Сейчас мы покажем тебе фотографии детских глаз. Попробуй определить – что чувствует этот ребёнок – сердится, боится, грустит или радуется 
      ._btn.swiper-btn-next понятно