.interview.section
  ._wrap.wrap
    ._title Оцените от 1 до 10 степень выраженности у Вашего ребенка   следующих 12-и качеств   
    ._question-list
      ._question-list-item
        ._text 1. Хорошо понимает эмоции окружающих, реагирует на них  соответствующим образом        
        input(type="text")._answer
      ._question-list-item
        ._text 2. В процессе сюжетной игры он придумывает нестандартные повороты сюжета, вводит новых персонажей со своими характерами       
        input(type="text")._answer
      ._question-list-item
        ._text 3. Любит слушать музыку, петь и двигаться ей в такт     
        input(type="text")._answer
      ._question-list-item
        ._text 4. Способен в течение 20-и минут, или даже дольше, быть увлечённым какой-то творческой активностью – например, рисовать, петь, лепить, танцевать, сочинять истории  
        input(type="text")._answer
      ._question-list-item
        ._text 5. У него есть определённые предпочтения в творческих активностях, но он полностью не зацикливается только на одной из них, может переключаться на другие виды и даже соединять их (например, нарисовать или разыграть придуманную историю, придумать игру с вылепленными персонажами и т.п.)    
        input(type="text")._answer
      ._question-list-item
        ._text 6. Умеет передавать свои чувства мимикой, интонацией и словами   
        input(type="text")._answer

      ._btn.swiper-btn-next далее 
    img(src="img/interview-boy.png", alt="alt")._img
          
        