.main.section
  ._wrap.wrap
    ._title-list Онлайн
      br._br/ с любого устройства
    ._list
      ._list-item 
        span._arrow » 
        | Оценивает общий творческий потенциал, а также актёрские и музыкальные способности, визуальную креативность, творческую энергетику и гибкость
      ._list-item 
        span._arrow » 
        | Включает анкету из 12-и вопросов для родителя 
        br._br/ и 10 небольших заданий для ребёнка   
      ._list-item 
        span._arrow » 
        | Общие временные затраты – около 20 минут 
      ._btn.swiper-btn-next начать