.interview-two.section
  ._wrap.wrap 
    ._question-list
      ._question-list-item
        ._text 7. Любит рисовать, использует всю цветовую палитру, придумывает разнообразные нестандартные сюжеты, широко использует фантазию в своем изобразительном творчестве       
        input(type="text")._answer
      ._question-list-item
        ._text 8. Ему нравится играть вместе с другими людьми, но он может делать это и один
        input(type="text")._answer
      ._question-list-item
        ._text 9. С интересом включается в новую для него творческую активность или игру и быстро не выключается из нее, полностью погружаясь в мир игры и становясь её активным участником
        input(type="text")._answer
      ._question-list-item
        ._text 10. Может притворно изобразить эмоцию – так, что даже Вы сначала ему поверите
        input(type="text")._answer
      ._question-list-item
        ._text 11. Любит слушать сказки и истории, активно включается в “разработку сюжета”, может разыгрывать их вместе с родителями и друзьями 
        input(type="text")._answer
      ._question-list-item
        ._text 12. Быстро пристраивает новую игрушку в игровой процесс – включает её в сюжетные истории с уже имеющимися у него участниками и предметами (куклами, машинками, другими игрушками)
        input(type="text")._answer

      ._btn.swiper-btn-next получить результат 
    img(src="img/interview-two-img.png", alt="alt")._img
          
        