.section-one {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #48195c;

  @media(max-width: 992px) {
    height: 100%;
  }

  &__br {
    @media(max-width: 576px) {
      display: none;
    }

  }

  &__wrap {
    max-width: 980px;
    min-height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #48195c url(img/section-one-bg.png)no-repeat center/cover;

    @media(max-width: 576px) {
      background-position: 60% -80px;
      padding: 300px 0 400px 0;
    }
  }

  &__text {
    transform: translate(-153px, -25px) rotate(-8deg);

    @media(max-width: 768px) {
      transform: translate(-110px, -30px) rotate(-8deg);
    }

    @media(max-width: 576px) {
      transform: translate(-33px, -75px) rotate(-8deg);
    }

    &:after {
      content: '';
      background: url('img/boy-two.png')no-repeat center/cover;
      width: 272px;
      height: 680px;
      right: -500px;
      top: -145px;
      transform: rotate(8deg);
      display: block;
      position: absolute;

      @media(max-width: 992px) {
        width: 171px;
        height: 430px;
        top: 40px;
        right: -179px;
      }

      @media(max-width: 576px) {
        top: 147px;
        right: -52px;
      }
    }
  }

  &__title {
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    color: #fafafa;
    font-family: "AG Futura Bold";
    font-size: 33px;
    text-transform: uppercase;

    @media(max-width: 576px) {
      text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &__subtitle {
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    color: #48195c;
    font-family: "FuturaFuturisC";
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 60px 0 0 0;
    padding: 0 0 0 20px;

    @media(max-width: 576px) {
      max-width: 185px;
      padding: 0;
      margin: 10px 0 0 0;
    }
  }

  &__text-small {
    @media(max-width: 576px) {
      font-size: 17px;
    }
  }

  &__btn {
    width: 250px;
    position: absolute;
    transform: rotate(8deg);
    bottom: -295px;
    left: 158px;
    z-index: 5;

    @media(max-width: 768px) {
      left: 110px;
    }

    @media(max-width: 576px) {
      left: -60px;
      bottom: -430px;
    }
  }
}