.section-one.section
  ._wrap.wrap
    ._text
      ._title РАЗДЕЛ I
      ._subtitle задания для ребенка 
        br._br/ 
        span._text-small (делаем вместе)
      ._btn.swiper-btn-next приступить к тесту
