.creative-energy.section
  ._wrap.wrap
    ._title.title ОБЩАЯ ТВОРЧЕСКАЯ ЭНЕРГЕТИКА
    ._list
      ._list-item
        ._item-title.item-title ИНСТРУКЦИЯ ДЛЯ РОДИТЕЛЯ
        ._text.text В заключительном тесте оценивается общая творческая энергетика и визуальная креативность. Ребёнку нужно будет прослушать короткую аудиоинструкцию по представлению зрительного образа, и затем описать этот образ, ответив на пять простых вопросов
      ._list-item
        ._item-title.item-title ИНСТРУКЦИЯ ДЛЯ РЕБЁНКА
        ._text.text А сейчас мы попросим тебя кое-что представить в своём воображении. Нажми на кнопку плеера, послушай задание и потом ответь на несколько вопросов о картинке, которая у тебя появилась
      ._btn.swiper-btn-next понятно
    ._img  
      img(src="img/creative-energy-boy.png", alt="alt")