doctype html
html
    include ../elements/head/head
    +head('Page title', 'Page description', 'Page keywords')
    body
        .index-page
            ._swiper-container.swiper-container
                ._swiper-wrapper.swiper-wrapper
                    .swiper-slide
                        include ../elements/main/main
                    .swiper-slide
                        include ../elements/section-one/section-one
                    .swiper-slide
                        include ../elements/creativeness/creativeness
                    .swiper-slide
                        include ../elements/visual-creativity/visual-creativity
                    .swiper-slide
                        include ../elements/ear-music/ear-music
                    .swiper-slide
                        include ../elements/music-test/music-test
                    .swiper-slide
                        include ../elements/sense-rhythm/sense-rhythm
                    .swiper-slide
                        include ../elements/music-test-drum/music-test-drum
                    .swiper-slide
                        include ../elements/underst-emotions/underst-emotions
                    .swiper-slide
                        include ../elements/emotion-test/emotion-test
                    .swiper-slide
                        include ../elements/creative-energy/creative-energy
                    .swiper-slide
                        include ../elements/creativity-test/creativity-test
                    .swiper-slide
                        include ../elements/section-two/section-two
                    .swiper-slide
                        include ../elements/interview/interview
                    .swiper-slide
                        include ../elements/interview-two/interview-two
                    .swiper-slide
                        include ../elements/conclusion/conclusion
                    .swiper-slide
                        include ../elements/ability-graph/ability-graph



        script(src="js/libs.min.js")
        script(src="js/custom.js")