.emotion-test.section
  ._wrap.wrap 
    ._list
      ._list-item
        img(src="img/emotion-test-one.png", alt="alt")
        ._box
          ._box-title Какую эмоцию ты видишь?
          ._list-questions
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Радость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Злость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Страх
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Грусть
      ._list-item
        img(src="img/emotion-test-two.png", alt="alt")
        ._box
          ._box-title Какую эмоцию ты видишь?
          ._list-questions
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Радость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Злость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Страх
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Грусть
      ._list-item
        img(src="img/emotion-test-three.png", alt="alt")
        ._box
          ._box-title Какую эмоцию ты видишь?
          ._list-questions
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Радость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Злость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Страх
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Грусть
      ._list-item
        img(src="img/emotion-test-four.png", alt="alt")
        ._box
          ._box-title Какую эмоцию ты видишь?
          ._list-questions
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Радость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Злость
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Страх
            label._list-questions-item
              input(type="checkbox")._checkbox
              ._emotion Грусть
