.visual-creativity {
  $root: &;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @media(max-width: 992px) {
    height: 100%;
  }

  &__br {
    display: none;

  }

  &__span {
    @media(max-width: 768px) {
      display: inline-block;
      width: 60px;
      vertical-align: top;
    }
  }

  &__wrap {
    max-width: 980px;
    width: 100%;
    background: url('img/visual-creativity-bg.png')no-repeat center/cover;
    align-items: center;
  }

  &__labe-one {
    @media(max-width: 768px) {
      order: 1;
    }
  }

  &__label {
    min-width: 135px;
    margin: 0 15px 0 0;
    font-size: 16px;
    color: #454545;

    @media(max-width: 768px) {
      margin: 0;
      min-width: 90px;
    }

    &::before {
      content: "\2713";
      color: transparent;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      margin: -2px 10px 0 0;
      margin-right: 9px;
      text-align: center;
      vertical-align: middle;
      transition: color ease .3s;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 1px solid #01579b;

      @media(max-width: 768px) {
        margin-right: 5px;
      }
    }
  }

  &__checkbox {
    opacity: 0;
    position: absolute;

    &:checked {
      +.visual-creativity__label {
        &::before {
          color: #01579b;
        }
      }
    }
  }

  &__list {
    max-width: 710px;
    width: 100%;
    padding: 75px 0;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      margin: 10px 0 0 0;

      @media(max-width: 768px) {
        margin: 90px 0 0 0;
      }
    }

    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 142px;
    width: 100%;
    height: 142px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid #91b9e6;
    background: rgba(#fff, .7);

    &_one {
      align-items: flex-start;
      padding: 30px 0 0 0;
    }

    &_three {
      align-items: flex-end;
      padding: 0 0 45px 0;
    }
  }

  &__options-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 555px;
    width: 100%;
    height: 142px;
    padding: 10px 0 10px 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid #91b9e6;
    background: rgba(#fff, .7);

    @media(max-width: 768px) {
      width: 262px;
      height: 243px;
      padding: 15px;
      margin: 15px 0 0 0;
      justify-content: space-between;
    }
  }
}