.visual-creativity.section
  ._wrap.wrap
    ._list
      ._list-item
        ._img.-one
          img(src="img/visual-creativity-img.png", alt="alt")
        ._options-list.-one
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label.test 
              span._span Узор
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label.test 
              span._span Дерево
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Лист 
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Человек
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Кника
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Самолет
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Щит
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Одежда
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Фонтан
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Буква
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Ракета
          label._labe-one 
            input(type="checkbox" data-BK="1")._checkbox
            ._label
              span._span Что-то <br class="visual-creativity__br">другое
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Ваза
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Цветок
      ._list-item
        ._img.-two
          img(src="img/visual-creativity-img.png", alt="alt")
        ._options-list.-two
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Узор
          label._labe-one 
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Глаза <br class="visual-creativity__br">(брови)
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Яблоко   
          label._labe-one 
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Лицо <br class="visual-creativity__br">(голова) 
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Кошка    
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Собака  
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label  
              span._span Волна    
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Облако  
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Буква  
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Очки    
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Сердце
          label._labe-one 
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label
              span._span Что-то <br class="visual-creativity__br">другое
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Птица
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Цветок
      ._list-item
        ._img.-three 
          img(src="img/visual-creativity-img.png", alt="alt")
        ._options-list.-three
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Узор
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Верблюд    
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Рыбв   
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Горы   
          label
            input(type="checkbox" data-BK="0")._checkbox
            ._label 
              span._span Волк    
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Молния    
          label._labe-one 
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label  
              span._span Уши <br class="visual-creativity__br">животного    
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Собака     
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Человек  
          label
            input(type="checkbox" data-BK="0.5")._checkbox
            ._label 
              span._span Буква М     
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Кошка
          label._labe-one 
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Что-то <br class="visual-creativity__br">другое
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Лиса
          label
            input(type="checkbox" data-BK="1")._checkbox
            ._label 
              span._span Лицо
    ._btn.swiper-btn-next далее 
