.visual-creativity.section
  ._wrap.wrap
    ._list
      ._list-item
        ._img
        ._options-list
          label(for="d") 
            input(type="checkbox" id="d")._checkbox
            ._label Узор