.music-test-drum.section
  ._wrap.wrap
    ._content
      ._list
        ._list-item.-one
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text барабан
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Повторить ритм
            ._notes-example-list
              ._lose-beat  
                +icon('drum') 
        ._list-item.-two
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text барабан
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Повторить ритм
            ._notes-example-list
              ._lose-beat  
                +icon('drum') 
            ._btn.swiper-btn-next понятно
      img(src="img/music-test-drum-bg.png", alt="alt")._img