.section-two.section
  ._wrap.wrap
    ._text
      ._title РАЗДЕЛ II
      ._subtitle анкета 
        br._br/ 
        | для родителя
    ._btn.swiper-btn-next продолжить 
    img(src="img/section-two-img.png", alt="alt")._img