.sense-rhythm.section
  ._wrap.wrap
    ._contant      
      ._info
        ._title.title чувство ритма
        ._list
          ._list-item 
            .item-title ИНСТРУКЦИЯ ДЛЯ РОДИТЕЛЯ
            ._text.text Теперь оценим чувство ритма. Необходимо повторить ритмическую последовательность из нескольких звуков, нажимая в нужном ритме на кнопку ввода 
              +icon('drum-small', 'sense-rhythm__drum-small')
          ._list-item
            .item-title ИНСТРУКЦИЯ ДЛЯ РЕБЁНКА
            ._text.text Повтори ритм, как ты его запомнил, нажимая на барабан. Здесь будет два похожих задания. 
              span._text-play.-pink Послушай пример задания
        ._play-example
          ._play-example-img
            +icon('play', 'ear-music__play')
            ._play-example-img-text Слушать пример
          ._notes-example
            ._notes-example-title Повторить ритм
            ._lose-beat  
              +icon('drum')           
            ._btn.swiper-btn-next понятно
      img(src="img/sense-rhythm-boy.png", alt="alt")._img