.ear-music.section
  ._wrap.wrap
    ._contant      
      ._info
        ._title.title МУЗЫКАЛЬНЫЙ СЛУХ 
        ._list
          ._list-item 
            .item-title ИНСТРУКЦИЯ ДЛЯ РОДИТЕЛЯ
            ._text.text Вторая часть включает оценку музыкального слуха. Прозвучат 3 ноты, а затем повторится одна из этих нот. Ребенок должен ответить, какая из этих 3-х нот прозвучала повторно 
          ._list-item
            .item-title ИНСТРУКЦИЯ ДЛЯ РЕБЁНКА
            ._text.text Сначала ты услышишь три разные музыкальные ноты, а потом одна из них прозвучит ещё раз. Попробуй угадать, какую из трех этих нот ты услышал в конце. Всего будет три таких задания. 
              span._text-play.-pink Послушай пример задания
        ._play-example
          ._play-example-img
            +icon('play', 'ear-music__play')
            ._play-example-img-text Слушать пример
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label.-one 1
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label.-two 2
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label.-three 3
            ._btn.swiper-btn-next понятно

      img(src="img/ear-musicp-girle.png", alt="alt")._img


