.creativeness.section
  ._wrap.wrap
    ._title.title КРЕАТИВНОСТЬ
    ._list
      ._list-item
        ._item-title.item-title ИНСТРУКЦИЯ ДЛЯ РОДИТЕЛЯ
        ._text.text Покажите ребёнку три фигуры из задания. Задача – придумать, чем эта фигура может быть, дорисовать её. Ребёнок может сделать это в своём воображении, или срисовать на бумагу исделать на её основе 
          br._br/ реальный рисунок (но это займет больше времени)
          +icon('smile', 'creativeness__smile')
      ._list-item
        ._item-title.item-title ИНСТРУКЦИЯ ДЛЯ РЕБЁНКА
        ._text.text Представь, что это – листок бумаги, на котором кто-то начал рисовать, но не закончил рисунок. Как бы ты его закончил, и что бы у тебя получилось из этой незаконченной фигуры? Попробуй придумать 
          br._br/ что-нибудь интересное 
          +icon('smile', 'creativeness__smile')
      ._btn.swiper-btn-next понятно