.music-test.section
  ._wrap.wrap
    ._content
      ._list
        ._list-item
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text фортепиано
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 1
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 2
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 3
        ._list-item
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text фортепиано
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 1
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 2
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 3
        ._list-item
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text фортепиано
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 1
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 2
              label._notes-example-list-item
                input(type="checkbox")._checkbox
                ._label 3   
            ._btn.swiper-btn-next понятно
      img(src="img/music-test-boy.png", alt="alt")._img