.music-test.section
  ._wrap.wrap
    ._content
      ._list
        ._list-item.-one
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text фортепиано
              audio(class="test1" src="audio/test1.mp3" type="audio/mpeg")
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox" data-ZC="0")._checkbox
                ._label.-one 1
                audio(class="test1Nota1" src="audio/test1Nota1.mp3" type="audio/mpeg")
              label._notes-example-list-item
                input(type="checkbox" data-ZC="1")._checkbox
                ._label.-two 2
                audio(class="test1Nota2" src="audio/test1Nota2.mp3" type="audio/mpeg")
              label._notes-example-list-item
                input(type="checkbox" data-ZC="0")._checkbox
                ._label.-three 3
                audio(class="test1Nota3" src="audio/test1Nota3.mp3" type="audio/mpeg")

        ._list-item.-two
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text фортепиано
              audio(class="test2" src="audio/test2.mp3" type="audio/mpeg")
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox" data-ZC="1")._checkbox
                ._label.-one 1
                audio(class="test2Nota1" src="audio/test2Nota1.mp3" type="audio/mpeg")
              label._notes-example-list-item
                input(type="checkbox" data-ZC="0")._checkbox
                ._label.-two 2
                audio(class="test2Nota2" src="audio/test2Nota2.mp3" type="audio/mpeg")
              label._notes-example-list-item
                input(type="checkbox" data-ZC="0")._checkbox
                ._label.-three 3
                audio(class="test2Nota3" src="audio/test2Nota3.mp3" type="audio/mpeg")
                
        ._list-item.-three
          ._play-example-img
            ._play-example-box
              +icon('play', 'ear-music__play')
              ._play-example-img-text фортепиано
              audio(class="test3" src="audio/test3.mp3" type="audio/mpeg")
            ._play-example-text Cлушать
          ._notes-example
            ._notes-example-title Какая нота прозвучала?
            ._notes-example-list
              label._notes-example-list-item
                input(type="checkbox" data-ZC="0")._checkbox
                ._label.-one 1
                audio(class="test3Nota1" src="audio/test3Nota1.mp3" type="audio/mpeg")
              label._notes-example-list-item
                input(type="checkbox" data-ZC="1")._checkbox
                ._label.-two 2
                audio(class="test3Nota2" src="audio/test3Nota2.mp3" type="audio/mpeg")
              label._notes-example-list-item
                input(type="checkbox" data-ZC="0")._checkbox
                ._label.-three 3 
                audio(class="test3Nota3" src="audio/test3Nota3.mp3" type="audio/mpeg")  
            ._btn.swiper-btn-next далее
      img(src="img/music-test-boy.png", alt="alt")._img